
.card-body {
	height: 175px !important;
	overflow: scroll;
}

.card-text {
}


#categorias .actived {
	background-color:#00c853 !important;
  color: #fff;
}

.content h1 {
    color: #252525;
    font-family: "roboto";
    font-size: 39px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.list-group-item {
  font-family: "Roboto", sans-serif;
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
text-transform: capitalize;
}

.list-group-item:hover {
  color: #00c853;
}

.card-title a {
  color: #71ca8a;
}
